@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:wght@100;200;800&display=swap');

/* Custom font for the Logo */
@font-face {
    font-family: 'Impact LT Std';
    src: url('fonts/ImpactLTStd.eot');
    src: url('fonts/ImpactLTStd.eot?#iefix') format('embedded-opentype'),
         url('fonts/ImpactLTStd.woff2') format('woff2'),
         url('fonts/ImpactLTStd.woff') format('woff'),
         url('fonts/ImpactLTStd.ttf')  format('truetype'),
         url('fonts/ImpactLTStd.svg#Impact LT Std') format('svg');
}

/* Default styles */
body ,button ,input{
    font-family: 'Montserrat', sans-serif;
    color: black;
}

body{
    margin: 72px 140px 0px;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo styles */
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-size: 6rem;
    color: #222;
    letter-spacing: 1;
    display: inline-block;
    cursor: pointer;
}

/* mute button styles */
#sound-button {
    padding: 20px;
    border-radius: 50%;
    background-color: #222;
}

#volume-icon {
    font-size: 24px;
}

/* Main */
main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Controls section */
#controls {
    display: inline-block;
    width: 46%;
    border-right: 2px solid #222;
    padding: 0px 42px 42px 0px;
}

/* Inputs */
.input-group {
    width: 100%;
    margin: 26px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

label {
    width: 20%;
    font-size: 1.9rem;
    font-weight: 300;
    padding: 12px;
    color: black;
}

input {
    width: 60%;
    font-size: 1.9rem;
    font-weight: 300;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-left: 6px;
    outline: none;
    color: black;
}

input:disabled {
    background-color: white;
    opacity: 0.6;
}

/* Buttons */
#buttons {
    margin-top: 12px;
}

button {
    padding: 12px 58px;
    font-size: 1.2rem;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
}

button:hover {
    opacity: .8;
}

button:disabled {
    opacity: .4;
}

/* Timer */
h2 {
    display: inline-block;
    padding-left: 100px;
    font-size: 9rem;
    font-weight: 300;
    margin: 12px 0;
}

/* Media queries */
@media screen and (max-width: 1534px) {
    /* Root font size changes */
    :root{
        font-size: 14px;
    }
}

@media screen and (max-width: 1340px) {
    /* Main */
    main {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;     
    }

    /* Controls section */
    #controls {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 32px;
        border: none;
    }

    /* Inputs */
    .input-group {
        margin: 12px 0;
    }

    /* Timer */
    h2 {
        width: 80%;
        padding: 12px;
        text-align: center;
        border-bottom: 2px solid #222;
    }
}

@media screen and (max-width: 974px) {
    :root {
        font-size: 12px;
    }
}

@media screen and (max-width: 798px) {
    body{
        margin: 32px 62px 0px;
    }

    #sound-button {
        padding: 18px;
    }
    
    #volume-icon {
        font-size: 16px;
    }

    #controls {
        align-items: center;
    }

    .input-group {
        flex-direction: column;
    }

    label {
        text-align: center;
        width: 100%;
    }

    input {
        width: 80%;
        text-align: center;
    }

    #buttons {
        width: 100%;
        margin-top: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #buttons > button {
        padding: 8px 48px;
        margin: 1px;
        border-radius: 5px;
    }
}

@media screen and (max-width: 566px) {
    :root {
        font-size: 10px;
    }
}

@media screen and (max-width: 496px) {
    :root {
        font-size: 8px;
    }

    body{
        margin: 18px 28px 0px;
    }

    #sound-button {
        padding: 14px;
    }
    
    #volume-icon {
        font-size: 12px;
    }

    h2 {
        font-size: 7.5rem;
    }

    #buttons {
        flex-direction: column;
    }

    #buttons > button {
        width: 100%;
        padding: 12px unset;
    }
}

@media screen and (max-width: 314px) {
    :root {
        font-size: 6px;
    }

    #sound-button {
        padding: 10px;
    }
    
    #volume-icon {
        font-size: 8px;
    }
}